<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="RutaLogs" value="F:\LogsDigitalSignature\Log-${shortdate}.txt" />
    <add key="ApiUrl" value="https://localhost:7010/api/signature/documents" />
  </appSettings>
</configuration>